# FastAPI e servidor
fastapi==0.115.0
uvicorn==0.32.0

# HTTP client
httpx==0.27.2

# Validação
pydantic==2.9.2
pydantic-settings==2.6.1

# Variáveis de ambiente
python-dotenv==1.0.1

# Logs
loguru==0.7.2

# JSON Web Tokens
PyJWT==2.9.0